.team-heading {
  background-image: url("images/team-pic.png");
  background-size: 40%;
  top: 0;
}
.team-area {
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 100px;
}

.employee-card {
  width: 15rem;
  display: block;
}

.card-header {
  background-color: #00a3d2;
  color: white;
  text-align: center;
}
